h1 {
color:crimson;
padding-top: 30px;
}

.intro{
   
    display: flex;
    justify-content: center;
}
.about{
   
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    margin: 10px;
}
.camel{
    background-color:#f54269;
   display: flex;
   flex-wrap: wrap;
   flex-direction: row-reverse;
   padding-top: 20px;
   margin: 50px;
}
p{
    font-style:italic;
    font-weight: bold;
    
}
li{
   font-style: oblique;
   text-transform: uppercase;
   text-size-adjust: 20px;
}
.chameleon{
    background-color:#f542cb;
   display: flex;
   flex-wrap: wrap;
   padding-top: 20px;
   margin: 50px;
  
}
.pigeon{
    background-color:#f54269;
   display: flex;
   flex-wrap: wrap;
   flex-direction: row-reverse;
   padding-top: 20px;
   margin: 50px;
}
.teddy-bear{
    background-color:#f542cb;
   display: flex;
   flex-wrap: wrap;
   padding-top: 20px;
   margin: 50px;
   
  
}
.panda{
    background-color:#f54269;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    padding-top: 20px;
    margin: 50px;
}
.cicada{
    background-color:#f542cb;
   display: flex;
   flex-wrap: wrap;
   padding-top: 20px;
   margin: 50px;
  
}
body{
    margin: 0px;
    background-color:#42b6f5;
    
}
a:link{
    color:white;
}
a:hover{
    color:rgb(230, 15, 15);
}
.origami:hover img{
    transform: scale(1.2);
    zoom: initial;
   
}
.origami img{
    position:relative;
   /* top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    opacity:0;*/
}
.origami:hover p{
    opacity:1;
}
.origami p{
    opacity: 0.5;
}
.aboutme {
   color: rgb(8, 109, 134); 
   justify-content: center;
   text-align: center;
}
.hey {
    font-size: 30;
    text-align: center;
}
.insta{
    justify-content: center;
}

